<header>
  Instructions
</header>
<div>
  <p *ngIf="this.nextInstruction==0">1. Lean Forward and place your forehead against the marked area. </p>
  <p *ngIf="this.nextInstruction==1">2. Look into the testing screen</p>
  <p *ngIf="this.nextInstruction==2">3. Increase the size of of the testing words usign the "+" sign on the keyboard, and decrease using the "-" sign.</p>
  <p *ngIf="this.nextInstruction==3">4. Press the "Spacebar" key when the words becomes just a little blurry for you.</p>
</div>

<div class="next_page">
    <p *ngIf="this.nextInstruction==3"> Press "Spacebar" to Start Testing</p>
    <p *ngIf="this.nextInstruction != 3">Press Right Arrow for next page <img src="https://img.icons8.com/ios/50/000000/circled-right.png"></p>
</div>
